packages/*
.vs/*
.idea/*
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Output folders
Logs/
Output/
Temp/

# Test data
TestLogs/
.terraform
*.zip
.vscode/

# code coverage
coverage.json
coverage.cobertura.xml

#Other
*.bak
