<?xml version="1.0"?>
<!-- Logshark configuration for Production use. -->
<LogsharkConfig xmlns="logshark">
  <MongoConnection poolSize="200" timeout="60" insertionRetries="3">
    <Servers>
      <Server address="localhost" port="27017" />
    </Servers>
    <User username="logshark" password="password" />
  </MongoConnection>
  <TableauConnection protocol="http" publishingTimeoutSeconds="600">
    <Server address="localhost" port="80" site="Logshark" />
    <User username="admin" password="password" />
  </TableauConnection>
  <!-- UNCOMMENT if utilizing Postgres.  This element is optional.
  <PostgresConnection>
    <Server address="localhost" port="5432" />
    <User username="logshark" password="password" />
  </PostgresConnection>-->
  <RunOptions>
    <DataRetention maxRuns="10" />
    <LocalMongo useAlways="true" purgeOnStartup="true" />
    <Tuning>
      <FilePartitioner concurrencyLimit="4" maxFileSizeMb="250" />
      <FileProcessor concurrencyLimitPerCore="1" />
    </Tuning>
  </RunOptions>
  <ArtifactProcessorOptions>
    <ArtifactProcessor name="DesktopLogProcessor">
      <DefaultPlugins>
        <Plugin name="CustomWorkbooks" />
        <Plugin name="VizqlDesktop" />
      </DefaultPlugins>
    </ArtifactProcessor>
    <ArtifactProcessor name="ServerClassicLogProcessor">
      <DefaultPlugins>
        <Plugin name="Apache" />
        <Plugin name="Backgrounder" />
        <Plugin name="ClusterController" />
        <Plugin name="Config" />
        <Plugin name="CustomWorkbooks" />
        <Plugin name="Filestore" />
        <Plugin name="Hyper" />
        <Plugin name="Netstat" />
        <Plugin name="Postgres" />
        <Plugin name="ResourceManager" />
        <Plugin name="SearchServer" />
        <Plugin name="Tabadmin" />
        <Plugin name="Vizportal" />
        <Plugin name="VizqlServer" />
        <!-- The VizqlServerPerformance plugin offers more granularity than VizqlServer, but takes longer to run.
        <Plugin name="VizqlServerPerformance" /> -->
      </DefaultPlugins>
    </ArtifactProcessor>
    <ArtifactProcessor name="ServerTsmLogProcessor">
      <DefaultPlugins>
        <Plugin name="Apache" />
        <Plugin name="Backgrounder" />
        <Plugin name="ClusterController" />
        <Plugin name="Config" />
        <Plugin name="CustomWorkbooks" />
        <Plugin name="Filestore" />
        <Plugin name="Hyper" />
        <Plugin name="Netstat" />
        <Plugin name="Postgres" />
        <Plugin name="ResourceManager" />
        <Plugin name="SearchServer" />
        <Plugin name="Vizportal" />
        <Plugin name="VizqlServer" />
        <!-- The VizqlServerPerformance plugin offers more granularity than VizqlServer, but takes longer to run.
        <Plugin name="VizqlServerPerformance" /> -->
      </DefaultPlugins>
    </ArtifactProcessor>
  </ArtifactProcessorOptions>
</LogsharkConfig>