<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    <ul class="nav nav-list">
        <li class="nav-header">Get Started</li>
     <!--   <li>
            <a href="{{ site.baseurl }}/docs">Logshark Installation and User Guide</a>
        </li>  -->
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_prefunc">Get your computer set up for Logshark</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_postgres">Install and Configure PostgresSQL</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_install">Install and Configure Logshark</a>
        </li>

        <li class="nav-header">Use Logshark</li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_run">Run Logshark and View the Results</a>
        </li>
       
        <li class="nav-header">Logshark Reference</li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_cmds">Logshark Command Options</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_plugins">Logshark Plugins and Generated Workbooks</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_customwbk">Add Custom Workbooks</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_mongo">Use your own MongoDB Instance</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/logshark_remove">Uninstall Logshark</a>
        </li>
    </ul>
</div>