<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Optional" version="3.2.0" targetFramework="net451" />
  <package id="Optional.Collections" version="1.1.0" targetFramework="net451" />
  <package id="Optional.Utilities" version="1.1.0" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net451" />
</packages>