<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.16.0" targetFramework="net451" />
  <package id="JetBrains.dotMemoryUnit" version="3.0.20171219.105559" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="NUnit" version="3.5.0" targetFramework="net451" />
  <package id="Optional" version="4.0.0" targetFramework="net451" />
  <package id="Optional.Utilities" version="1.1.0" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net451" />
</packages>