<?xml version="1.0"?>
<!-- This is a sample config only and should not be used. -->
<LogsharkConfig xmlns="logshark">
  <MongoConnection poolSize="200" timeout="60" insertionRetries="3">
    <Servers>
      <Server address="localhost" port="27017" />
    </Servers>
    <!-- UNCOMMENT the line below if using MongoDB auth. Note that MongoDB auth will not currently work on systems with security settings that enforce FIPS compliance. -->
    <!--<User username="logshark" password="password" />-->
  </MongoConnection>
  <PostgresConnection>
    <Server address="localhost" port="5432" />
    <User username="logshark" password="password" />
  </PostgresConnection>
  <TableauConnection protocol="http" publishingTimeoutSeconds="300">
    <Server address="localhost" port="80" site="Logshark" />
    <User username="admin" password="password" />
  </TableauConnection>
  <RunOptions>
    <LocalMongo useAlways="false" purgeOnStartup="true" />
    <Tuning>
      <FilePartitioner concurrencyLimit="4" maxFileSizeMb="250" />
      <FileProcessor concurrencyLimitPerCore="1" />
    </Tuning>
  </RunOptions>
  <PluginOptions>
    <DefaultPlugins>
      <Plugin name="Apache" />
      <Plugin name="Backgrounder" />
      <Plugin name="ClusterController" />
      <Plugin name="Config" />
      <Plugin name="CustomWorkbooks" />
      <Plugin name="Filestore" />
      <Plugin name="Netstat" />
      <Plugin name="Postgres" />
      <Plugin name="ResourceManager" />
      <Plugin name="SearchServer" />
      <Plugin name="Tabadmin" />
      <Plugin name="Vizportal" />
      <Plugin name="VizqlServer" />
      <!-- The VizqlServerPerformance plugin offers more granularity than VizqlServer, but takes longer to run.
      <Plugin name="VizqlServerPerformance" /> -->
      <Plugin name="VizqlDesktop" />
    </DefaultPlugins>
  </PluginOptions>
</LogsharkConfig>