<?xml version="1.0" encoding="UTF-8"?>
<?define ApplicationName = "Logshark"?>
<?define Manufacturer = "Tableau"?>
<?define AboutURL = "http://www.tableau.com"?>
<?define ProductUpgradeCode = "d926f2c5-3ab7-4101-a292-f1cd325e23f9"?>
<?define IconFile = "Resources\Logshark.ico"?>
<?define LogoFile = "Resources\Logo.png"?>
<?define LogoSideFile = "Resources\LogoSide.png"?>
<?define LicenseFile = ""?> <!-- Disables license box being shown -->
<?define MainPackageFile = "Contents\LogsharkCLIInstaller.msi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="$(var.ApplicationName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.ProductUpgradeCode)" IconSourceFile="$(var.IconFile)" AboutUrl="$(var.AboutURL)">
    <BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
      <Payload SourceFile="$(var.LogoSideFile)" />
      <Payload SourceFile="$(var.LogoFile)" />
    </BootstrapperApplicationRef>
    
    <!-- Theme Resource Locations-->
    <WixVariable Id="WixExtbaLicenseUrl" Value="License.htm" />
    <WixVariable Id="WixExtbaThemeXml" Value="Theme\BundleTheme.xml" />
    <WixVariable Id="WixExtbaThemeWxl" Value="Theme\HyperlinkTheme.wxl" />

    <!-- Install Locations -->
    <Variable Name="InstallFolder" bal:Overridable="yes" Type="string" Value="[ProgramFiles64Folder]$(var.ApplicationName)" />

    <!-- Core Install Options -->
    <Variable Name="OptionCreateStartMenuShortcuts" bal:Overridable="yes" Type="numeric" Persisted="yes" Value="1" />
    <Variable Name="OptionAddInstallLocationToPath" bal:Overridable="yes" Type="numeric" Persisted="yes" Value="1" />
    
    <!-- Check Registry Key & Use Previous Install Folder If Available -->
    <util:RegistrySearch Id="PreviousInstallFolderSearch" Win64="yes"
      Root="HKLM"
      Key="SOFTWARE\$(var.Manufacturer)\$(var.ApplicationName)"
      Value="InstallFolder"
      Variable="PreviousInstallFolder" />
    <util:DirectorySearch
      Path='[PreviousInstallFolder]'
      Variable='InstallFolder'
      After='PreviousInstallFolderSearch'
      Condition='PreviousInstallFolder' />

    <!-- Install Chain -->
    <Chain DisableSystemRestore="yes">
      <PackageGroupRef Id="NetFx451Web" />
      <RollbackBoundary />
      <MsiPackage Id="MainPackage" SourceFile="$(var.MainPackageFile)" DisplayInternalUI="no" Compressed="yes" Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder] "/>
        <MsiProperty Name="INSTALLSHORTCUTS" Value="[OptionCreateStartMenuShortcuts]" />
        <MsiProperty Name="INSTALLPATHVARIABLE" Value="[OptionAddInstallLocationToPath]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>